<div class="post-card" itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting">
  {% if card.categories %}
    {% assign categories = card.categories %}
    <span class="post-card__label">
      {% for category in categories %}
        <a href="{{site.baseurl}}/categories/#{{category|slugize}}" class="label"> {{ category }} </a>
        {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </span>
  {% endif %}
  <a href="{{ site.baseurl }}{{ card.link }}">
    {% if card.img %}
      <figure class="post-card__thumb">
        <img
          src="{{ site.url }}{{ site.baseurl }}/assets/img/cards/{{card.img}}"
          data-srcset="{{ site.url }}{{ site.baseurl }}/assets/img/cards/{{card.img}}, {{ site.url }}{{ site.baseurl }}/assets/img/cards/{{card.img}}"
          class="lazyload blur"
          alt="{{card.title}}"
        />
        <noscript><img src="{{ site.url }}{{ site.baseurl }}/assets/img/cards/{{card.img}}" alt="{{ card.title }}"></noscript>
      </figure>
    {% else %}
      <figure class="post-card__thumb">
        <div style="background-color: #{{ card.background-color }}"></div>
      </figure>
    {% endif %}
  </a>
  <a style="background-color: #{{ card.background-color }}" class="post-card__inner__title" href="{{ site.baseurl }}{{ card.link }}">
    <div class="post-card__header">
      <h2>{{ card.title | strip_html | truncate: 50 }}</h2>
      {% assign date_format = site.sleek.date_format | default: "%b %-d, %Y" %}
      <span class="post-card__meta">
        <time>{{ card.date | date: date_format }}</time>
      </span>
    </div>
  </a>
  <div class="post-card__inner" href="{{ site.baseurl }}{{ card.link }}">
    {{ card.summary | markdownify }}
  </div>
  {% if card.more %}
    <a href="{{ site.baseurl }}{{ card.link }}" class="more-link">Find out more > </a>
  {% endif %}
</div>
