<div class="city-card"
     itemprop="blogPosts"
     itemscope=""
     itemtype="http://schema.org/BlogPosting">
  <div class="city-background"  style="background-image: url({{ site.baseurl }}/assets/img/cards/virtualnetwork.jpg)">
  </div>
  <a href="{{ site.baseurl }}/vISMIR2020/">
    <h1>ISMIR2020 will be hosted online</h1>
    <div class="description">
      <p> We are prioritizing peer-to-peer discussions, accessibility, and visibility across time zones to ensure that ISMIR2020 will be successful and memorable.</p>
    </div>
  </a>
</div>
