<div class="covid-card">
  <h3><div><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" y="0px"
	 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
	<g>
		<path d="M256,0C114.497,0,0,114.507,0,256c0,141.503,114.507,256,256,256c141.503,0,256-114.507,256-256
			C512,114.497,397.492,0,256,0z M256,472c-119.393,0-216-96.615-216-216c0-119.393,96.615-216,216-216
			c119.393,0,216,96.615,216,216C472,375.393,375.384,472,256,472z"/>
	</g>
</g>
<g>
	<g>
		<path d="M256,214.33c-11.046,0-20,8.954-20,20v128.793c0,11.046,8.954,20,20,20s20-8.955,20-20.001V234.33
			C276,223.284,267.046,214.33,256,214.33z"/>
	</g>
</g>
<g>
	<g>
		<circle cx="256" cy="162.84" r="27"/>
	</g>
</g></svg>COVID-19 UPDATE</div> <div class="date-update">as of 7 July 2020</div></h3>
  <div class="text-body">
    <p>The NLP4MusA workshop will be online.</p>
    <p>The WiMIR workshop will take place as a virtual event.</p>
    <p>WoRMS 2020 is cancelled and will resume next year.</p>
    <p>We plan to open the registration by middle of July.</p>
    <!-- <p>It is not clear yet whether it will be possible to have a physical component to the conference. In any scenario, we will have an online conference, and the Proceedings will be published online as usual.</p> -->
    <!-- <p>Registration will not open before 1 July 2020.</p> -->
  </div>
</div>
