<div class="event-card" itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting">
  <div class="post-card__inner" href="/ISMIR2020/program">
    <div>
      <h3>Deadlines</h3>
      <table>
        <tbody>
          <tr><td>Call for Papers</td><td>Accepting submissions</td></tr>
          <tr><td>Abstract Submission</td><td style="text-decoration: line-through;">10 April 2020</td><td>8 May 2020</td></tr>
          <tr><td>Final Submission</td><td style="text-decoration: line-through;">17 April 2020</td><td>15 May 2020</td></tr>
          <tr><td>Notification of Acceptance</td><td style="text-decoration: line-through;">12 June 2020</td><td>10 July 2020</td></tr>
          <tr><td>Camera-ready Upload</td><td style="text-decoration: line-through;">6 July 2020</td><td>3 August 2020</td></tr>
          <tr><td></td><td></td></tr>
          <tr><td>Music Submission</td><td style="text-decoration: line-through;">29 May 2020</td><td>26 June 2020</td></tr>
          <tr><td>Music Notification</td><td style="text-decoration: line-through;">15 July 2020</td><td>31 July 2020</td></tr>
          <tr><td></td><td></td></tr>
          <tr><td>Call for Tutorials</td><td>Accepting submissions</td></tr>
          <tr><td>Tutorials Submission</td><td style="text-decoration: line-through;">30 April 2020</td><td>22 May 2020</td></tr>
          <tr><td>Tutorials Notification</td><td style="text-decoration: line-through;">31 May 2020</td><td>15 June 2020</td></tr>
        </tbody>
      </table>
    </div>
    <div>
      <h3>Main Event</h3>
      <table>
        <tbody>
          <tr><td>Tutorials</td><td>11 October 2020</td></tr>
          <tr><td>Scientific Program</td><td>12–15 October 2020</td></tr>
        </tbody>
      </table>
    </div>
    <div>
      <h3>Social Program</h3>
      <table>
        <tbody>
          <tr><td>Reception</td><td>11 October 2020</td></tr>
          <tr><td>WiMIR Reception</td><td>TBD October 2020</td></tr>
          <tr><td>Concert</td><td>13 October 2020</td></tr>
          <tr><td>Banquet</td><td>14 October 2020</td></tr>
        </tbody>
      </table>
    </div>
    <div>
      <h3>Satellite Events</h3>
      <table>
        <tbody>
          <tr><td><a href="https://wimir.wordpress.com/">WiMIR Workshop</a></td><td>10 October 2020</td></tr>
          <tr><td>WoRMS</td><td><b>Cancelled</b></td></tr>
          <tr><td><a href="https://dl.acm.org/conference/dlfm">DLfM</a></td><td>16 October 2020</td></tr>
          <tr><td><a href="https://sites.google.com/view/nlp4musa">NLP4MusA</a></td><td>16 October 2020</td></tr>
          <tr><td>HAMR</td><td>16–17 October 2020</td></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
