<div class="sponsors-card" style="background-color: {{ include.background_color }}; margin-top: {{ include.margin_top }};"
>
  <div class="post-card__inner"
  {% if include.padding %}
    style="padding: {{ include.padding }}"
  {% endif %}
  >
    <h3 class="platinum title">Platinum Sponsors</h3>
    <div class="platinum-wrapper">
      <a href="https://www.spotify.com/">
        <img src="{{ site.baseurl }}/assets/img/sponsors/Spotify.png">
      </a>
    </div>
    <div class="platinum-wrapper">
      <a href="https://csl.sony.fr/">
        <img src="{{ site.baseurl }}/assets/img/sponsors/SonySonyCSL.png">
      </a>
    </div>
    <hr>
    <h3 class="gold title">Gold Sponsors</h3>
    <div class="gold-wrapper">
      <a href="https://www.bytedance.com/en/">
        <img src="{{ site.baseurl }}/assets/img/sponsors/ByteDance.png"/>
      </a>
    </div>
    <div class="gold-wrapper">
      <a href="https://www.adobe.com/">
        <img src="{{ site.baseurl }}/assets/img/sponsors/Adobe.png"/>
      </a>
    </div>
    <hr>
    <h3 class="silver title">Silver Sponsors</h3>
    <div class="silver-wrapper">
      <a href="https://www.steinberg.net">
        <img src="{{ site.baseurl }}/assets/img/sponsors/Steinberg.png"/>
      </a>
    </div>
    <div class="silver-wrapper">
      <a href="https://www.dolby.com/">
        <img src="{{ site.baseurl }}/assets/img/sponsors/Dolby.png"/>
      </a>
    </div>
    <div class="silver-wrapper">
      <a href="https://chordify.net/">
        <img src="{{ site.baseurl }}/assets/img/sponsors/Chordify.png"/>
      </a>
    </div>
    <hr>
    <h3 class="bronze title">Bronze Sponsors</h3>
    <div class="bronze-wrapper">
      <a href="https://cochlear.ai/">
        <img src="{{ site.baseurl }}/assets/img/sponsors/Cochlear.png">
      </a>
    </div>
    <div class="bronze-wrapper">
      <a href="https://www.acrcloud.com/">
        <img src="{{ site.baseurl }}/assets/img/sponsors/ACRCloud.png">
      </a>
    </div>
    <div class="bronze-wrapper">
      <a href="https://www.musiio.com/">
        <img src="{{ site.baseurl }}/assets/img/sponsors/Musiio.png">
      </a>
    </div>
    <div class="bronze-wrapper">
      <a href="https://research.google/">
        <img src="{{ site.baseurl }}/assets/img/sponsors/Google.png">
      </a>
    </div>
    <div class="bronze-wrapper">
      <a href="https://www.musixmatch.com/">
        <img src="{{ site.baseurl }}/assets/img/sponsors/Musixmatch.png">
      </a>
    </div>
    <div class="bronze-wrapper">
      <a href="https://jobs.jobvite.com/siriusxm/">
        <img src="{{ site.baseurl }}/assets/img/sponsors/SiriusxmPandora.png">
      </a>
    </div>
    <div class="bronze-wrapper">
      <a href="https://yousician.com/">
        <img src="{{ site.baseurl }}/assets/img/sponsors/Yousician.png">
      </a>
    </div>
  </div>
</div>
