<div class="sponsors-card">
  <div class="post-card__inner">
    <h3 class="platinum title">Platinum Sponsors</h3>
    <div class="platinum-wrapper">
    </div>
    <h3 class="gold title">Gold Sponsors</h3>
    <div class="gold-wrapper">
    </div>
    <h3 class="silver title">Silver Sponsors</h3>
    <div class="silver-wrapper">
      <a href="https://www.steinberg.net">
        <img src="{{ site.baseurl }}/assets/img/sponsors/Steinberg.png"/>
      </a>
    </div>
    <h3 class="bronze title">Bronze Sponsors</h3>
    <div class="bronze-wrapper">
      <a href="https://cochlear.ai/">
        <img src="{{ site.baseurl }}/assets/img/sponsors/Cochlear.png"
      </a>
    </div>
  </div>
</div>
