<div class="city-card"
     itemprop="blogPosts"
     itemscope=""
     itemtype="http://schema.org/BlogPosting">
  <div class="city-background"  style="background-image: url({{ site.baseurl }}/assets/img/cards/wimir-logo.jpg)">
  </div>
  <a href="https://bit.ly/WiMIRgrants2020">
    <h1 style="color: #F07D00;">WiMIR Grants!</h1>
    <div class="description">
      <p>Announcing WiMIR@vISMIR Grants that support registration and publication fees as well as childcare! 
        Priority deadline is August 30! <br/><br/>
        Find out more > </p>
    </div>
  </a>
</div>
