.post-card {
  display: block;
  position: relative;
  // width: 100%;
  // min-height: 432px;
  border-radius: 4px;
  overflow: hidden;
  background-color: $bg-color;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  // margin-bottom: 2.25rem; // don't use % value see more: https://github.com/philipwalton/flexbugs/issues/86
  border-bottom: 0;
  transition: box-shadow .25s ease;
  .more-link {
    position: absolute;
    bottom: 20px;
    left: 1.25rem;
    border-bottom: none;
  }

  &:hover,
  &:focus {
    border-bottom: 0;
    box-shadow: 0 2px 40px 0 hsla(232, 8%, 63%, .3);
  }

  // @include breakpoint(500px) {
  //   width: 47%;
  // }

  @include breakpoint($md) {
    // width: 42%;
    // margin-right: 3.125%;
    //
    // &:last-of-type,
    // &:nth-child(2n+2) {
    //   margin-right: 0;
    // }
  }

  @include breakpoint($xl) {
    // width: 32%;
    // margin-right: 3.125%;

    // &:nth-child(2n+2) {
    //   margin-right: 3.125%;
    // }
    //
    // &:last-of-type,
    // &:nth-child(3n+3) {
    //   margin-right: 0;
    // }
  }

  &__label {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    z-index: 2;
  }

  &__inner {
    display: block;
    // position: relative;
    padding: 1.875rem 1.25rem;
    width: 100%;
    color: $grey;
    border-bottom: 0;

    h3 {
      color: #7c7e86;
    }

    table {
      border: 0;
      tbody tr td {
        border: 0;
      }
    }

    &:focus,
    &:hover {
      color: $grey;
      border-bottom: 0;
    }
    a {
      border-bottom: none;
    }
    img {
      max-height: 200px;
    }
  }

  &__inner__title {
    @extend .post-card__inner;
    padding: 0.5em 1.25em;
    margin-top: -1px;
    background-color: #fe9a02;
    h2 {
      margin: 0;
    }
  }

  &__header {
    // margin-bottom: 0.75rem;
    color: white ;
    h2 {
      color: white;
    }
  }

  &__meta {
    font-size: 0.875rem;
  }
}

.post-card__thumb {
  margin: 0;
  background: $bg-color;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    height: 0;
    width: 100%;
    // 16:9 = 56.25% = calc(9 / 16 * 100%)
    padding-bottom: 56.25%;
  }

  > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}

.event-card {
  // display: flex;
  // justify-content: space-around;
  position: relative;
  width: 100%;
  // height: 100%;
  @include breakpoint($xs) {
    height: auto;
  }
  @include breakpoint($lg) {
    height: 100%;
  }
  // min-height: 720px;

  border-radius: 4px 4px;
  overflow: hidden;
  background-color: $bg-color;
  // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
   // don't use % value see more: https://github.com/philipwalton/flexbugs/issues/86
  border-bottom: 0;
  transition: box-shadow .25s ease;
  // &:hover,
  // &:focus {
  //   border-bottom: 0;
  //   box-shadow: 0 2px 40px 0 hsla(232, 8%, 63%, .3);
  // }
  // div {
  //   width: 45%;
  // }
  .post-card__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include breakpoint($xs) {
      height: auto;
    }
    @include breakpoint($md) {
      height: 1000px;
    }
    @include breakpoint($lg) {
      height: auto;
    }
    h2 {
      overflow: hidden;
      text-align: left;
      position:relative;
      // background-color: red
    }

    // h2:before,
    // h2:after {
    //   background-color: #000;
    //   content: "";
    //   display: inline-block;
    //   height: 1px;
    //   position: relative;
    //   vertical-align: middle;
    //   width: 50%;
    // }

    // h2:before {
    //   right: 0.5em;
    //   margin-left: -50%;
    // }

    // h2:after {
    //   left: 0.5em;
    //   margin-right: -50%;
    // }
  }
}

.dates-container {
  // width: 30%;
  // margin-bottom: 2.25rem;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;

  @include breakpoint($md) {
    width: 40%;
  }
  @include breakpoint($lg) {
    width: 30%;
  }
}
.city-container {

}

.cards-container {
  width: 100%;


  @include breakpoint($xs) {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 2.25rem;
  }
  @include breakpoint($md) {
    width: 60%;
    padding: 0 0 0 2.25rem;
    margin-top: 2.25rem;
  }
  @include breakpoint($lg) {
    width: 70%;
    padding: 0 0 0 2.25rem;
  }
  // margin-bottom: 2.25rem;

  // display: flex;
  // justify-content: space-between;
  // flex-wrap: wrap
  .small-cards {
    display: flex;

    // justify-content: space-between;
    @include breakpoint($xs) {
      flex-direction: column;
    }
    @include breakpoint($sm) {
      flex-direction: row;
    }
    @include breakpoint($md) {
      flex-direction: column;
      height: calc(67% - 1.125rem);
    }
    @include breakpoint($lg) {
      flex-direction: row;
      height: calc(60% - 1.125rem);
    }
    // @include breakpoint($) {
    //   flex-direction: row;
    // }
    > div:first-child {
      @include breakpoint($xs) {
        margin-right: 0;
        // margin-bottom: 0;
      }
      @include breakpoint($sm) {
        margin-right: 1.125rem;
      }
      @include breakpoint($md) {
        margin-right: 0;
        margin-bottom: 1.125rem;
      }
      @include breakpoint($lg) {
        margin-right: 1.125rem;
        margin-bottom: 0;
      }
    }
    > div:not(:first-child) {
      @include breakpoint($xs) {
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
      }
      @include breakpoint($sm) {
        margin-left: 1.125rem;
      }
      @include breakpoint($md) {
        margin-left: 0;
        margin-top:1.125rem;
      }
      @include breakpoint($lg) {
        margin-left: 1.125rem;
        margin-top: 0;
      }
    }
    .post-card {
      @include breakpoint($xs) {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        margin-bottom: 2.25rem;
        // height: 300px;
      }
      @include breakpoint($sm) {
        height: 475px;
        margin-bottom: 0;
      }
      @include breakpoint($md) {
        height: calc(50% - 1.125rem);
      }
      @include breakpoint($lg) {
        width: 48%;
        height: 100%;
      }
      .post-card__thumb {
        @include breakpoint($xs) {
          height: 200px;
        }
        @include breakpoint($sm) {
          height: 150px;
        }
        @include breakpoint($md) {
          height: 100%;
        }
        @include breakpoint($lg) {
          height: 200px;
        }
      }
      .more-link {
        @include breakpoint($xs) {
          color: #55f32f;
        }
        @include breakpoint($sm) {
          color: #277CEA;
        }
        @include breakpoint($md) {
          color: #55f32f;
        }
        @include breakpoint($lg) {
          color: #277CEA;
        }
      }
      .post-card__inner {

        p {
          margin: 0;
        }
        @include breakpoint($xs) {
          position: absolute;
          top: 91px;
          background-color: #00000070;
          color: white;
          p a {
            color: #55f32f;
          }
        }
        @include breakpoint($sm) {
          position: relative;
          top: 0;
          background-color: white;
          color: inherit;
          p a {
            color: #277CEA;
          }
        }
        @include breakpoint($md) {
          position: absolute;
          top: 91px;
          background-color: #00000070;
          color: white;
          p a {
            color: #55f32f;
          }
        }
        @include breakpoint($lg) {
          position: relative;
          top: 0;
          background-color: white;
          color: inherit;
          p a {
            color: #277CEA;
          }
        }
        p {
          @include breakpoint($xs) {
            visibility: hidden;
          }
          @include breakpoint($sm) {
            visibility: visible;
          }
        }

      }
      .post-card__inner__title {
        @include breakpoint($xs) {
          position: absolute;
          top: 0;
        }
        @include breakpoint($sm) {
          position: relative;
          // top: inherit;
        }
        @include breakpoint($md) {
          position: absolute;
          top: 0;
        }
        @include breakpoint($lg) {
          position: relative;
          // top: inherit;
        }
      }
    }
  }
}

.city-card {
  @include breakpoint($xs) {
    height: 300px;
  }
  @include breakpoint($sm) {

  }
  @include breakpoint($md) {
    height: calc(33% - 1.125rem);
  }
  @include breakpoint($lg) {
    height: calc(40% - 1.125rem);
  }
  // height: calc(50% - 1.125rem);
  width: 100%;
  display: block;
  position: relative;
  .city-background {
    width: 100%;
    height: 100%;
  }
  // width: 100%;
  // min-height: 432px;
  // background-image: url();
  border-radius: 4px;
  overflow: hidden;
  background-color: $bg-color;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  margin-bottom: 2.25rem; // don't use % value see more: https://github.com/philipwalton/flexbugs/issues/86
  border-bottom: 0;
  transition: box-shadow .25s ease;
  .more-link {
    position: absolute;
    bottom: 20px;
    left: 1.25rem;
    border-bottom: none;
  }

  &:hover,
  &:focus {
    border-bottom: 0;
    box-shadow: 0 2px 40px 0 hsla(232, 8%, 63%, .3);
  }

  h1 {
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
    color: white;
  }
  .description {
    p {
      margin: 0;
    }
    position: absolute;
    bottom: 1.25rem;
    left: 1.25rem;
    background: #00000099;

    color: white;
    padding: 15px;
    border-radius: 4px;
    @include breakpoint($xs) {
      width: calc(100% - 2 * 1.125rem);
    }
    @include breakpoint($sm) {
      // width: calc(48% - 2 * 1.125rem);
    }
    @include breakpoint($md) {
      width: calc(100% - 2 * 1.125rem);
    }
    @include breakpoint($lg) {
      width: calc(48% - 2 * 1.125rem);
    }
  }
}

.city-background, .post-card__thumb img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.city-background:hover, .post-card:hover a .post-card__thumb img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}
