hr {
  background: #dcdcdc;
}

.post-card {
  display: block;
  position: relative;
  // width: 100%;
  // min-height: 432px;
  border-radius: 4px;
  overflow: hidden;
  background-color: $bg-color;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  // margin-bottom: 2.25rem; // don't use % value see more: https://github.com/philipwalton/flexbugs/issues/86
  border-bottom: 0;
  transition: box-shadow .25s ease;
  .more-link {
    position: absolute;
    bottom: 20px;
    left: 1.25rem;
    border-bottom: none;
  }

  &:hover,
  &:focus {
    border-bottom: 0;
    box-shadow: 0 2px 40px 0 hsla(232, 8%, 63%, .3);
  }

  // @include breakpoint(500px) {
  //   width: 47%;
  // }

  @include breakpoint($md) {
    // width: 42%;
    // margin-right: 3.125%;
    //
    // &:last-of-type,
    // &:nth-child(2n+2) {
    //   margin-right: 0;
    // }
  }

  @include breakpoint($xl) {
    // width: 32%;
    // margin-right: 3.125%;

    // &:nth-child(2n+2) {
    //   margin-right: 3.125%;
    // }
    //
    // &:last-of-type,
    // &:nth-child(3n+3) {
    //   margin-right: 0;
    // }
  }

  &__label {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    z-index: 2;
  }

  &__inner {
    display: block;
    // position: relative;
    padding: 1.25rem 1.25rem;
    width: 100%;
    color: $grey;
    border-bottom: 0;

    h3 {
      color: #7c7e86;
    }

    table {
      border: 0;
      tbody tr td {
        border: 0;
      }
    }

    &:focus,
    &:hover {
      color: $grey;
      border-bottom: 0;
    }
    a {
      border-bottom: none;
    }
    img {
      max-height: 200px;
    }
  }

  &__inner__title {
    @extend .post-card__inner;
    padding: 0.5em 1.25em;
    margin-top: -1px;
    background-color: #fe9a02;
    h2 {
      margin: 0;
    }
  }

  &__header {
    // margin-bottom: 0.75rem;
    color: white ;
    h2 {
      color: white;
    }
  }

  &__meta {
    font-size: 0.875rem;
  }
}

.post-card__thumb {
  margin: 0;
  background: $bg-color;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    height: 0;
    width: 100%;
    // 16:9 = 56.25% = calc(9 / 16 * 100%)
    padding-bottom: 56.25%;
  }

  > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}

.event-card {
  // display: flex;
  // justify-content: space-around;
  position: relative;
  width: 100%;
  // height: 100%;
  @include breakpoint($xs) {
    height: auto;
  }
  @include breakpoint($lg) {
    // height: 100%;
  }
  // min-height: 720px;
  h3 {
    color: #313237;
  }
  border-radius: 4px 4px;
  overflow: hidden;
  background-color: $bg-color;
  // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
   // don't use % value see more: https://github.com/philipwalton/flexbugs/issues/86
  border-bottom: 0;
  transition: box-shadow .25s ease;
  // &:hover,
  // &:focus {
  //   border-bottom: 0;
  //   box-shadow: 0 2px 40px 0 hsla(232, 8%, 63%, .3);
  // }
  // div {
  //   width: 45%;
  // }
  .post-card__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include breakpoint($xs) {
      height: auto;
    }
    @include breakpoint($md) {
      // height: 1000px;
    }
    @include breakpoint($lg) {
      height: auto;
    }
    h2 {
      overflow: hidden;
      text-align: left;
      position:relative;
      // background-color: red
    }

    // h2:before,
    // h2:after {
    //   background-color: #000;
    //   content: "";
    //   display: inline-block;
    //   height: 1px;
    //   position: relative;
    //   vertical-align: middle;
    //   width: 50%;
    // }

    // h2:before {
    //   right: 0.5em;
    //   margin-left: -50%;
    // }

    // h2:after {
    //   left: 0.5em;
    //   margin-right: -50%;
    // }
  }
}

.dates-container {
  // width: 30%;
  // margin-bottom: 2.25rem;
  // margin-top: 2.25rem;
  margin-bottom: 2.25rem;

  @include breakpoint($md) {
    width: 40%;
  }
  @include breakpoint($lg) {
    width: 30%;
  }
}
.city-container {

}

.cards-container {
  width: 100%;
  height: fit-content;

  @include breakpoint($xs) {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 2.25rem;
  }
  @include breakpoint($md) {
    width: 60%;
    padding: 0 0 0 2.25rem;
    // margin-top: 2.25rem;
  }
  @include breakpoint($lg) {
    width: 70%;
    padding: 0 0 0 2.25rem;
  }
  // margin-bottom: 2.25rem;

  // display: flex;
  // justify-content: space-between;
  // flex-wrap: wrap
  .small-cards {
    display: flex;
    margin-bottom: 2.25rem;
    // justify-content: space-between;
    @include breakpoint($xs) {
      flex-direction: column;
    }
    @include breakpoint($sm) {
      flex-direction: row;
    }
    @include breakpoint($md) {
      flex-direction: column;
      // height: calc(67% - 1.125rem);
    }
    @include breakpoint($lg) {
      flex-direction: row;
      // height: calc(60% - 1.125rem);
    }
    // @include breakpoint($) {
    //   flex-direction: row;
    // }
    > div:first-child {
      @include breakpoint($xs) {
        margin-right: 0;
        // margin-bottom: 0;
      }
      @include breakpoint($sm) {
        margin-right: 1.125rem;
      }
      @include breakpoint($md) {
        margin-right: 0;
        margin-bottom: 1.125rem;
      }
      @include breakpoint($lg) {
        margin-right: 1.125rem;
        margin-bottom: 0;
      }
    }
    > div:not(:first-child) {
      @include breakpoint($xs) {
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
      }
      @include breakpoint($sm) {
        margin-left: 1.125rem;
      }
      @include breakpoint($md) {
        margin-left: 0;
        margin-top:1.125rem;
      }
      @include breakpoint($lg) {
        margin-left: 1.125rem;
        margin-top: 0;
      }
    }
    .post-card {
      @include breakpoint($xs) {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        margin-bottom: 2.25rem;
        // height: 300px;
      }
      @include breakpoint($sm) {
        height: 500px;
        margin-bottom: 0;
      }
      @include breakpoint($md) {
        height: 480px;
        // height: calc(30% - 1.125rem);
      }
      @include breakpoint($lg) {
        width: 48%;
        height: 550px;
        // height: 45%;
      }
      @include breakpoint($xl) {
        // height: 55%;
      }
      .post-card__thumb {
        @include breakpoint($xs) {
          height: 200px;
        }
        @include breakpoint($sm) {
          height: 150px;
        }
        @include breakpoint($md) {
          height:200px;
        }
        // @include breakpoint($lg) {
        //   height: 200px;
        // }
      }
      .more-link {
        @include breakpoint($xs) {
          color: #55f32f;
        }
        @include breakpoint($sm) {
          color: #277CEA;
        }
        @include breakpoint($md) {
          color: #55f32f;
        }
        @include breakpoint($lg) {
          color: #277CEA;
        }
      }
      .post-card__inner {

        p {
          margin: 0;
        }
        @include breakpoint($xs) {
          position: absolute;
          top: 136px;
          background-color: #00000070;
          color: white;
          p a {
            color: #55f32f;
          }
        }
        @include breakpoint($sm) {
          position: relative;
          top: 0;
          background-color: white;
          color: inherit;
          p a {
            color: #277CEA;
          }
        }
        @include breakpoint($md) {
          // position: absolute;
          // top: 91px;
          // background-color: #00000070;
          // color: white;
          p a {
            color: #55f32f;
          }
        }
        @include breakpoint($lg) {
          position: relative;
          top: 0;
          background-color: white;
          color: inherit;
          p a {
            color: #277CEA;
          }
        }
        p {
          @include breakpoint($xs) {
            visibility: hidden;
          }
          @include breakpoint($sm) {
            visibility: visible;
          }
        }

      }
      .post-card__inner__title {
        @include breakpoint($xs) {
          position: absolute;
          top: 0;
        }
        @include breakpoint($sm) {
          position: relative;
          // top: inherit;
        }
        @include breakpoint($md) {
          position: relative;
          // top: 0;
        }
        @include breakpoint($lg) {
          // position: relative;
          // top: inherit;
        }
      }
    }
  }
}

.city-card {
  // height: calc(50% - 1.125rem);
  width: 100%;
  display: block;
  position: relative;

  @include breakpoint($xs) {
    height: 350px;
  }
  @include breakpoint($sm) {
    height: 300px;
  }
  @include breakpoint($md) {
    height: 350px;
  }
  @include breakpoint($lg) {
    // height: calc(25% - 1.125rem);
  }
  @include breakpoint($xl) {
    // height: calc(30% - 1.125rem);
  }
  .city-background {
    width: 100%;
    height: 100%;
  }
  // width: 100%;
  // min-height: 432px;
  // background-image: url();
  border-radius: 4px;
  overflow: hidden;
  background-color: $bg-color;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  margin-bottom: 2.25rem; // don't use % value see more: https://github.com/philipwalton/flexbugs/issues/86
  border-bottom: 0;
  transition: box-shadow .25s ease;
  .more-link {
    position: absolute;
    bottom: 20px;
    left: 1.25rem;
    border-bottom: none;
  }

  &:hover,
  &:focus {
    border-bottom: 0;
    box-shadow: 0 2px 40px 0 hsla(232, 8%, 63%, .3);
    .city-background {
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
  }

  h1 {
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
    color: white;
  }
  .description {
    p {
      margin: 0;
    }
    position: absolute;
    bottom: 1.25rem;
    left: 1.25rem;
    background: #00000099;

    color: white;
    padding: 15px;
    border-radius: 4px;
    @include breakpoint($xs) {
      width: calc(100% - 2 * 1.125rem);
    }
    @include breakpoint($sm) {
      // width: calc(48% - 2 * 1.125rem);
    }
    @include breakpoint($md) {
      width: calc(100% - 2 * 1.125rem);
    }
    @include breakpoint($lg) {
      width: calc(48% - 2 * 1.125rem);
    }
  }
}

.city-background, .post-card__thumb img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.post-card:hover a .post-card__thumb img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.sponsors-card {
  // display: flex;
  // flex-direction: column;
  background-color: white;
  border-radius: 4px;
  .post-card__inner {
    div {
      display:flex;
      margin-top: 20px;
      margin-bottom: 40px;
    }
    h3 {
      display: inline-block;
      padding: 10px;
      color: white;
      border-radius: 4px;
      &:not(:first-child) {
        margin-top: 40px;
      }
      &.platinum {
        // background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
        //   -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
        //   -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
        //
        //   linear-gradient(180deg, hsl(0,0%,78%)  0%,
        //   hsl(0,0%,90%) 47%,
        //   hsl(0,0%,78%) 53%,
        //   hsl(0,0%,70%)100%);
        color: hsla(0,0%,20%,1);
        background: -webkit-linear-gradient(top, #d7d7d7, #fdfdfd, #d7d7d7);
        background: linear-gradient(top, #d7d7d7, #fdfdfd, #d7d7d7);
      }
      &.gold {
        background-color: #c9b037;
        // background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
        //   -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
        //   -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
        //
        //   linear-gradient(180deg,
        //   #c9b037  0%,
        //   #ead259 47%,
        //   #c9b037 53%,
        //   #ead259 100%);
        // color: hsla(0,0%,20%,1);
        // background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
        //         radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
        // background: #FDE08D;
      	// background: -webkit-linear-gradient(top, #DF9F28, #FDE08D, #DF9F28);
    	  // background: linear-gradient(top, #DF9F28, #FDE08D, #DF9F28);
        // color: hsla(0,0%,20%,1);
      }
      &.silver {
        background-color: #b4b4b4;
      }
      &.bronze {
        background-color: #ad8a56;
      }
      // &.metal {
      //   // position: relative;
      //   // margin: 40px auto;
      //   outline: none;
      //
      //   // font: bold 6em/2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
      //   // text-align: center;
      //   color: hsla(0,0%,20%,1);
      //   // text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
      //
      //   // background-color: hsl(0,0%,90%);
      //   // box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px, /* border */
      //     // inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
      //     // inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
      //     // inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */
      //     //
      //     // hsla(0,0%, 0%,.15) 0 -5px 6px 4px, /* outer SD */
      //     // hsla(0,0%,100%,.5) 0  5px 6px 4px; /* outer HL */
      //
      //   // transition: color .2s;
      // }
      // &.metal.linear {
      //   // width: 100px;
      //   // font-size: 4em;
      //   // height: 80px;
      //   // border-radius: .5em;
      //   background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
      //     -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
      //     -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
      //
      //     linear-gradient(180deg, hsl(0,0%,78%)  0%,
      //     hsl(0,0%,90%) 47%,
      //     hsl(0,0%,78%) 53%,
      //     hsl(0,0%,70%)100%);
      // }
    }
    .platinum-wrapper {
      img {
        max-width: 330px;
      }
    }
    .gold-wrapper {
      img {
        max-width: 230px;
      }
    }
    .silver-wrapper {
      img {
        max-width: 150px;
      }
    }
    .bronze-wrapper {
      img {
        max-width: 90px;
      }
    }
    @media(max-width: 450px) { // 200 / 330 = .6061
      .platinum-wrapper img {
        max-width: 200px;
      }
      .gold-wrapper img {
        max-width: 150px;
      }
      .silver-wrapper img {
        max-width: 120px;
      }
      .bronze-wrapper img {
        max-width: 80px;
      }
    }
  }
}
