table {
  display: table;
  width: 100%;
  overflow-x: scroll;
  margin-bottom: 1.25rem;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid $border;
  border-radius: 4px;
  font-size: 14.5px;

  th {
    background-color: $light-bg-color;
  }

  th,
  td {
    padding: 6px 13px;
    border: 1px solid $border;
  }
}

/* Variables
================================== */
$bw: 3px;  // border width


/* Tables
================================== */
.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
}
.Rtable-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;  // Default to full width
  padding: 0.8em 1.2em;
  overflow: hidden; // Or flex might break
  list-style: none;
  border: 1px solid #ededed;
  background: fade(slategrey,20%);
  > h1, > h2, > h3, > h4, > h5, > h6 { margin: 0; }
  &.platinum {
    // background: #d7d7d7;
    // background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    //   -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    //   -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
    //
    //   linear-gradient(180deg, hsl(0,0%,78%)  0%,
    //   hsl(0,0%,90%) 47%,
    //   hsl(0,0%,78%) 53%,
    //   hsl(0,0%,70%)100%);
    color: hsla(0,0%,20%,1);
    background: -webkit-linear-gradient(top, #d7d7d7, #fdfdfd, #d7d7d7);
    background: linear-gradient(top, #d7d7d7, #fdfdfd, #d7d7d7);
    // color: hsla(0,0%,20%,1);
  }
  &.gold {
    background: #c9b037;
    // background: #FDE08D;
    // background: -webkit-linear-gradient(top, #DF9F28, #FDE08D, #DF9F28);
    // background: linear-gradient(top, #DF9F28, #FDE08D, #DF9F28);
    // color: hsla(0,0%,20%,1);
  }
  &.silver {
    background: #b4b4b4;
  }
  &.bronze {
    background: #ad8a56;
  }
  &.wimir {
    background: #dd5466;
    h4 {color: white;}
  }
  // &.wimir1 {
  //   background: #dd5466ee;
  // }
  // &.wimir2 {
  //   background: #dd5466bb;
  // }
  // &.wimir3 {
  //   background: #dd546677;
  // }
  // &.wimir4 {
  //   background: #dd546633;
  // }
}

/* Table column sizing
================================== */
.Rtable--2cols > .Rtable-cell  { width: 50%; }
.Rtable--3cols > .Rtable-cell  { width: 33.33%; }
.Rtable--4cols > .Rtable-cell  { width: 25%; }
.Rtable--5cols > .Rtable-cell  { width: 20%; }
.Rtable--6cols > .Rtable-cell  { width: 16.6%; }

$breakpoint: 500px;

/* Responsive
==================================== */
@media all and (max-width: $breakpoint) {
  .Rtable--collapse  {
    display: block;
    > .Rtable-cell { width: 100% !important; }
    > .Rtable-cell--foot { margin-bottom: 1em; }
  }
  .empty {
    display: none;
  }
  .Rtable-cell--head {
    margin-top: 20px;
  }
}

// Non-Flex modernizer fallback
.no-flexbox .Rtable {
  display: block;
  > .Rtable-cell { width: 100%; }
  > .Rtable-cell--foot { margin-bottom: 1em; }
}
