---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}
  <!-- <script src="{{ '/assets/js/pixi.min.js' | relative_url }}"></script> -->
  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero__home lazyload" data-bg="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.hero_img }}">
      <div class="hero__wrap__home">
        <h2 class="hero__title">
          Welcome to the 21<sup>st</sup>
          <br>
          <b>International Society
            <br>for Music Information Retrieval</b>
            <br>Conference
        </h2>
        <p class="hero__meta">11&ndash;15 OCTOBER 2020
          <!-- <br>CENTRE MONT ROYAL, MONTREAL
          <br>CANADA -->
          <br>VIRTUAL CONFERENCE
        </p>
      </div>

    </div>

    <main class="site__content">
      <section class="blog">
        <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">
          {% include virtual_update_card.html %}
          <div class="dates-container">
            {% include covid_card.html %}
            {% include dates.html %}
          </div>
          <div class="cards-container">
            {% include city.html %}
            <div class="small-cards">
              {% assign cards = site.cards | sort: 'order' %}
              {% for card in cards %}
                {% include card.html %}
              {% endfor %}
            </div>
            {% include sponsors.html %}
          </div>
          <!-- {% include card.html title="The Event" %} -->

          <!-- {% include pagination.html %} -->
        </div>
      </section>
    </main>

    {% include footer.html %}

  </body>

</html>
