---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}
    {% if page.hero_background %}
      {% if page.background_position %}
        <div class="hero--small"
          style="background-image: url({{ site.baseurl }}/assets/img/{{ page.hero_background }});
                 background-position: {{ page.background_position }};">
      {% else %}
        <div class="hero--small" style="background-image: url({{ site.baseurl }}/assets/img/{{ page.hero_background }})">
      {% endif %}
    {% else %}
    <div class="hero--small">
    {% endif %}
      <div class="hero__wrap">
        <h1 class="hero__title">{{ page.title }}</h1>
      </div>
    </div>
    <main class="site__content">

      <div class="container">
        <div class="page-content">

          {{ content }}

        </div>
      </div>

    </main>

    {% include footer.html %}

  </body>

</html>
