footer {
  padding: 2.8125rem 0;
  border-top: 1px solid #f0f0f0;
  text-align: center;
  font-size: 0.875rem;
  color: rgba(33,33,33,0.6);

  a {
    color: rgba(33,33,33,0.6);
    border-bottom: 0;

    &:hover,
    &:focus {
      color: $primary;
      border-bottom: 0;
    }
  }
}
.institutions {
  display: grid;
  align-items: center;
  justify-items: center;
  margin-bottom: 30px;

  #udem-logo {
    width: 65%;
  }
  #ismir-org-logo {
    width: 60%;
  }
  @include breakpoint($xs) {
    #mcgill-schulich-logo {
      margin-top: 0;
    }
  }
  @include breakpoint($sm) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    #mcgill-schulich-logo {
      margin-top: 6%;
    }
  }
  @include breakpoint($lg) {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  margin: 0 auto 25px;
}

.social__link:not(:last-child) {
  margin-right: 1.5rem;
}

.social__icon {
  fill: currentColor;
  height: 1.5rem;
  width: 1.5rem;
}
