.header {
	background-color: #f4f4f4;
	color: #343851;
	position: absolute;
	z-index: 4;
	width: 100%;
	height: 80px;
	top: 0;
	left: 0;
	will-change: transform;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: transform .3s, background-color 0.5s ease;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 3px;
	a {
    display: flex;
    align-items: center;
    border-bottom: 0;
		font-size: 0.95em;
  }

  &.fix-nav {
    position: fixed;
    background-color: $bg-color;
    transition: transform .3s, background-color 0.5s ease;
    z-index: 5;
  }

  &.hide-nav {
    transform: translateY(-120%);
    transition: transform .3s;
  }
}

.header__logo {
	width: 210px;
	border: 0;
	&:hover {
		text-decoration: none;
		border: 0;
	}
}

.header__logo .header__logo--container .logo {
	fill: currentColor
}

.header__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.header__links {
	padding-bottom: .5rem;
	display: none;
	position: absolute;
	top: 75px;
	left: 0;
	width: 100%;
	height: auto;
	background-color: #fff;
	// background: #fff
}

.header__link {
	color: #343851;
	padding: .938rem 0;
	border-top: 1px solid #ededed
}

.header__toggle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 44px;
	height: 100%;
	background-color: transparent;
	// padding-left: 1.25rem
}

.header__toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 44px;
  height: 100%;
  background-color: transparent;
  padding: 0 0.62rem 0;
  cursor: pointer;

  span {
    display: block;
    position: relative;
    margin-top: 4px;
    background-color: $text-color;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    transition: all 0.2s cubic-bezier(1, 0.13, 0.35, 1.09);

    &:first-child {
      margin-top: 0;
    }
  }

  &.--open {
    span {

      &:first-child {
        transform: rotate(45deg) translate(4px, 4px);
      }

      &:nth-child(2n) {
        opacity: 0;
      }

      &:last-child {
        transform: rotate(-45deg) translate(4px, -4px);
      }
    }
  }
}

.header__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  background-color: rgba(0, 0 , 0, .75);
  z-index: 2;
  transition: opacity 1s ease 0.1s;

  &.--open {
    width: 100%;
    height: 120%;
    opacity: 1;
  }
}


@media (min-width: $lg) {
  .header__toggle {
    display: none;
    visibility: hidden;
  }

  .header__links {
    position: static;
    padding: 0;
    display: flex;
    flex-direction: column;
    visibility: visible;
    width: auto;
    height: 100%;
  }

  .header__links-wrapper {
    display: flex;
    height: 100%;
    padding: 0;
  }

  .header__link {
    position: relative;
    padding: .938rem 0.7rem;
    border: 0;
    height: 100%;

    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 15px;
      height: 3px;
      width: 100%;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      background: $link-color;
      transition: color 0.2s ease-in-out, transform .2s ease-in-out;
    }

    &:hover {
      color: darken($link-color, 20%);
    }

    &:hover::after,
    :active::after,
    :focus::after {
      transform: scaleX(1);
      color: darken($link-color, 20%);
      transition: transform .2s ease-in-out;
    }
  }
}

.header__links-wrapper {
  background: #fff;
  width: 100%;
}

.js--open {
  width: 100%;
}
